=begin
#Compute Api

#Compute Api

The version of the OpenAPI document: 1.0
Contact: support@dbosoft.eu
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module ComputeClient
  class ProjectMembersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a project member
    # Add a project member
    # @param project_id [String] 
    # @param new_project_member_body [NewProjectMemberBody] 
    # @param [Hash] opts the optional parameters
    # @return [Operation]
    def project_members_add(project_id, new_project_member_body, opts = {})
      data, _status_code, _headers = project_members_add_with_http_info(project_id, new_project_member_body, opts)
      data
    end

    # Add a project member
    # Add a project member
    # @param project_id [String] 
    # @param new_project_member_body [NewProjectMemberBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Operation, Integer, Hash)>] Operation data, response status code and response headers
    def project_members_add_with_http_info(project_id, new_project_member_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectMembersApi.project_members_add ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectMembersApi.project_members_add"
      end
      # verify the required parameter 'new_project_member_body' is set
      if @api_client.config.client_side_validation && new_project_member_body.nil?
        fail ArgumentError, "Missing the required parameter 'new_project_member_body' when calling ProjectMembersApi.project_members_add"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/members'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(new_project_member_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Operation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProjectMembersApi.project_members_add",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectMembersApi#project_members_add\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a project member
    # Get a project member
    # @param project_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectMemberRole]
    def project_members_get(project_id, id, opts = {})
      data, _status_code, _headers = project_members_get_with_http_info(project_id, id, opts)
      data
    end

    # Get a project member
    # Get a project member
    # @param project_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectMemberRole, Integer, Hash)>] ProjectMemberRole data, response status code and response headers
    def project_members_get_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectMembersApi.project_members_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectMembersApi.project_members_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectMembersApi.project_members_get"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/members/{id}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectMemberRole'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProjectMembersApi.project_members_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectMembersApi#project_members_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all project members
    # List all project members
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectMemberRoleList]
    def project_members_list(project_id, opts = {})
      data, _status_code, _headers = project_members_list_with_http_info(project_id, opts)
      data
    end

    # List all project members
    # List all project members
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectMemberRoleList, Integer, Hash)>] ProjectMemberRoleList data, response status code and response headers
    def project_members_list_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectMembersApi.project_members_list ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectMembersApi.project_members_list"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/members'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectMemberRoleList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProjectMembersApi.project_members_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectMembersApi#project_members_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a project member
    # Removes a project member assignment
    # @param project_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Operation]
    def project_members_remove(project_id, id, opts = {})
      data, _status_code, _headers = project_members_remove_with_http_info(project_id, id, opts)
      data
    end

    # Remove a project member
    # Removes a project member assignment
    # @param project_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Operation, Integer, Hash)>] Operation data, response status code and response headers
    def project_members_remove_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectMembersApi.project_members_remove ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectMembersApi.project_members_remove"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectMembersApi.project_members_remove"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/members/{id}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Operation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProjectMembersApi.project_members_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectMembersApi#project_members_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
